In [2]:
import tensorflow as tf
import numpy as np
import pandas as pd
from transformers import BertTokenizer, TFBertModel
from sklearn.metrics.pairwise import cosine_similarity

In [3]:
tokenizer = BertTokenizer.from_pretrained("sentence-transformers/all-MiniLM-L6-v2")
model = TFBertModel.from_pretrained("sentence-transformers/all-MiniLM-L6-v2")

2023-11-20 21:16:09.978056: I metal_plugin/src/device/metal_device.cc:1154] Metal device set to: Apple M1
2023-11-20 21:16:09.978093: I metal_plugin/src/device/metal_device.cc:296] systemMemory: 8.00 GB
2023-11-20 21:16:09.978105: I metal_plugin/src/device/metal_device.cc:313] maxCacheSize: 2.67 GB
2023-11-20 21:16:09.978403: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:306] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
2023-11-20 21:16:09.978711: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:272] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)
All model checkpoint layers were used when initializing TFBertModel.

All the layers of TFBertModel were initialized from the model checkpoint at sentence-transformers/all-MiniLM-L6-v2.
If your task is similar to the task the model of the checkpoint was trained on, you can already use TFBertModel for predictions without further training.

### Vacancy Data

In [4]:
vacancy_data = pd.read_csv('data/job_list_all.csv')

### Selected Features from the Vacancy Data
Selected Feature from Vacancy Data that will be used in the recommendation system:
- Job Title
- Skills Requiered

In [7]:
job_title = vacancy_data['Job_title']
skill_required = vacancy_data['Skills'].fillna('')

In [13]:
vacancy_data_features = vacancy_data[['Job_title', 'Skills']].fillna('')

In [15]:
vacancy_data_features

,Job_title,Skills
0,Perawat,"Dapat Berkomunikasi Secara Baik, Berorientasi ..."
1,Sales Sosial Media,
2,Fashion Designer,"Trend Forecasting, Pattern Making, Fashion Sty..."
3,RPA Software Developer (UIPATH),
4,SEO Specialist,"Search Engine Optimization (SEO), Seo/sem, SEO..."
...,...,...
2965,Sales Executive,
2966,Drafter,"2D & 3D Drafter, Construction, Arsitek & Draft..."
2967,3D Animator,"Character Animation, Target Oriented, 3D Animator"
2968,Crew Outlet,"Jujur, teliti, dan rajin, Bekerja Sama Secara ..."
2969,Senior Transfer Pricing Consultant,"Transfer Pricing Tax, International Tax, Trans..."